---
layout: null
---

@import url("fonts.css");
@import url("pygment_highlights.css");

/* --- Basics --- */

body {
  font-family: 'Inter', Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #404040;
  position: relative;
  display: flex; /* Sticky footer */
  flex-direction: column; /* Sticky footer */
  min-height:100vh; /* Sticky footer */
  background-color: {{ site.page-col }};
  {% if site.page-img %}
  background-image: url({{ site.page-img | relative_url }});
  background-attachment: fixed;
  {% endif %}
}

p {
  line-height: 1.5;
  margin: 15px 0px 15px 0px;
}

h1 {
  font-family: 'Playfair Display', 'Times New Roman', serif;
  font-weight: 600;
  font-style: normal;
}

h2 {
  font-family: 'Playfair Display', 'Times New Roman', serif;
  font-weight: 600;
  font-style: normal;
}

h3,h4,h5,h6 {
  font-family: 'Playfair Display', 'Times New Roman', serif;
  font-weight: 400;
  font-style: italic;
}

h2,h3,h4,h5,h6 {
  padding: 5px 0 5px 0;
}

a {
color: #555;
text-decoration: none;
font-weight: bold;
white-space: nowrap;
}

a:hover,a:focus,a:active {
  color: #555;
  text-decoration: none;
}

.gold a {
  color: #555;
  text-decoration: none;
  white-space: nowrap;
}

.gold a:hover {
  text-decoration: none;
  color: #555;
}

/*.blue a {
  color: #555;
  text-decoration: none;
  background-position-y: -0%;
  background-image: linear-gradient( white 50%, #5ab4e5 50%);
  transition: background 500ms ease;
  background-size: 2px;
  background-size: auto 175%;
}

.blue a:hover {
  background-position-y: 100%;
  text-decoration: none;
  color: #555;
}*/

.blue a {
  color: #555;
  text-decoration: none;
  white-space: nowrap;
}

.blue a:hover {
  text-decoration: none;
  color: #555;
}

a.link-header {
  font-weight: normal;
  text-decoration: none;
}

blockquote {
  color: #808080;
  font-style: italic;
}

blockquote p:first-child {
  margin-top: 0;
}

hr.small {
  max-width: 100px;
  margin: 15px auto;
  border-width: 1px;
  border-color: inherit;
  border-radius: 3px;
}

.main-content {
  padding-top: 80px;
}
@media only screen and (min-width: 900px) {
  .main-content {
    padding-top: 130px;
  }
}

.main-explain-area {
  font-family: 'Playfair Display', 'Times New Roman', serif;
  padding: 15px;
}

.hideme {
  display: none;
}

img::selection {
  color: white;
  background: transparent;
}
img::-moz-selection {
  color: white;
  background: transparent;
}

img {
  max-width: 100%;
}

.disqus-comments {
  margin-top: 30px;
}

@media only screen and (min-width: 900px) {
  .disqus-comments {
    margin-top: 40px;
  }
}

.linked-section {
  padding-top: 60px;
  margin-top: -25px;
}

/* --- Navbar --- */

.navbar-custom {
  background-color: {{ site.navbar-col }};
  border-bottom: 1px solid #EAEAEA;
  {% if site.navbar-img %}
  background-image: url({{ site.navbar-img | relative_url }});
  background-attachment: fixed;
  {% endif %}
}

.navbar-custom .nav li a::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #555;
  transform: scaleX(0);
  transition: transform 0.7s ease;
}

.navbar-custom .nav li a:hover::before {
  transform: scaleX(1);
}

.navbar-custom,
.navbar-custom .nav li a {
  font-family: 'Playfair Display', 'Times New Roman', serif;
  font-weight: 500;
  font-style: italic;
  font-size: 16px;
  letter-spacing: 0px;
  text-decoration: none;
  color: {{ site.navbar-text-col }};
}

.navbar-brand {
  font-family: 'Playfair Display', 'Times New Roman', serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  letter-spacing: 0px;
  text-decoration: none;
  color: {{ site.navbar-text-col }};
}

.navbar-custom .navbar-brand-logo {
  padding-top: 0;
  -webkit-transition: padding .5s ease-in-out;
  -moz-transition: padding .5s ease-in-out;
  transition: padding .5s ease-in-out;
}
.navbar-custom .navbar-brand-logo img {
  height: 50px;
  -webkit-transition: height .5s ease-in-out;
  -moz-transition: height .5s ease-in-out;
  transition: height .5s ease-in-out;
}
.navbar-custom.top-nav-short .navbar-brand-logo {
  padding-top: 5px;
}
.navbar-custom.top-nav-short .navbar-brand-logo img {
  height: 40px;
}

@media only screen and (min-width: 900px) {
  .navbar-custom {
    padding: 20px 0;
    -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
    transition: background .5s ease-in-out,padding .5s ease-in-out;
  }

  .navbar-custom.top-nav-short {
    padding: 0;
  }
}

.navbar-custom .avatar-container {
  position: absolute;
  left: 50%;
  width: 50px;
  margin-top: -25px;
}
.navbar-custom .avatar-container .avatar-img-border {
  width: 100%;
  border-radius: 50%;
  margin-left: -50%;
  display: inline-block;
  box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .8);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}
.navbar-custom .avatar-container .avatar-img {
  width: 100%;
  border-radius: 50%;
  display: block;
}

.navbar-custom.top-nav-expanded .avatar-container {
  display: none;
}

@media only screen and (min-width: 900px) {
  .navbar-custom .avatar-container {
    width: 100px;
    margin-top: -50px;
  }

  .navbar-custom .avatar-container .avatar-img-border {
    width: 100%;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, .8);
    -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, .8);
  }

  .navbar-custom .avatar-container .avatar-img {
    width: 100%;
  }
}

/* Multi-level nav links */
.navbar-custom .nav .navlinks-container {
  position: relative;
}
.navbar-custom .nav .navlinks-parent:after {
  content: " \25BC";
}
.navbar-custom .nav .navlinks-children {
  width: 100%;
  display: none;
  word-break: break-word;
}
.navbar-custom .nav .navlinks-container .navlinks-children a {
  display: block;
  padding: 10px;
  padding-left: 30px;
  background-color: {{ site.navbar-children-col }};
  text-decoration: none !important;
  border-width: 0 1px 1px 1px;
  font-weight: normal;
}

.navbar-custom .nav .navlinks-container .navlinks-children a:hover {
  background-color: #ebebeb;
  -webkit-transition: background .2s ease-in-out;
  -moz-transition: background .2s ease-in-out;
  transition: background .2s ease-in-out;
}

@media only screen and (max-width: 899px) {
  .navbar-custom .nav .navlinks-container.show-children {
    background: rgba(0, 0, 0, 0.2);
  }
  .navbar-custom .nav .navlinks-container.show-children .navlinks-children {
    display: block;
  }
}

@media only screen and (min-width: 900px) {
  .navbar-custom .nav .navlinks-container {
    text-align: center;
  }
  .navbar-custom .nav .navlinks-container:hover {
    background: rgba(0, 0, 0, 0.1);
  }
  .navbar-custom .nav .navlinks-container:hover .navlinks-children {
    display: block;
  }
  .navbar-custom .nav .navlinks-children {
    position: absolute;
  }
  .navbar-custom .nav .navlinks-container .navlinks-children a {
    padding-left: 10px;
    border: 1px solid #eaeaea;
    border-width: 0 1px 1px;
  }
}

/* --- Footer --- */

footer {
  padding: 30px 0;
  border-top: 1px #EAEAEA solid;
  /*margin-top: 50px*/
  margin-top: auto; /* Sticky footer */
  font-size: 14px;
  background-color: {{ site.footer-col }};
  {% if site.footer-img %}
  background-image: url({{ site.footer-img | relative_url }});
  background-attachment: fixed;
  {% endif %}
}

footer p.text-muted {
  color: #404040;
}

footer a {
  color: {{site.footer-link-col}};
}

.beautiful-jekyll-footer {
  font-family: 'Inter', Arial, sans-serif;
}

.copyright {
  margin: 35px 0 60px 0;
  font-weight: 300;
  color: #555;
}

.name {
  font-family: 'Playfair Display', 'Times New Roman', serif;
  font-style: italic;
  font-size: 110%;
}

.copyright a {
  font-weight: 700;
  color: #555;
}

.copyright a:hover {
  text-decoration: none;
  color: #555;
}

.made-with {
  margin: 60px 0 20px 0;
  color: #888;
  text-align: center;
  font-weight: 300;
  text-shadow: 1px 1px rgba(255,255,255,0.8);
}

.license {
  margin: 45px 0 20px 0;
  color: #888;
  text-align: center;
  font-weight: 300;
  text-shadow: 1px 1px rgba(255,255,255,0.8);
}

.lastmod {
  margin: 80px 0 10px 0;
  color: #888;
  text-align: center;
  font-weight: 300;
  text-shadow: 1px 1px rgba(255,255,255,0.8);
}

.mw-buttons {
  text-align: center;
  padding-right: 20px;
}

.cc-buttons {
  text-align: center;
}

.mw-buttons a, .cc-buttons a {
  color: #ccc;
  text-shadow: 1px 1px rgba(255,255,255,0.8);
  transition: 0.5s ease;
}

.mw-buttons a:hover, .mw-buttons a:active, .mw-buttons a:focus, .cc-buttons a:hover, .cc-buttons a:active, .cc-buttons a:focus {
  color: #aaa;
}

footer .list-inline {
  margin: 0;
  padding-top: 10px;
}

footer .copyright {
  text-align: center;
  margin-bottom: 0;
}

footer .theme-by {
  text-align: center;
  margin: 10px 0 0;
}

@media only screen and (min-width: 900px) {
  footer {
    padding: 50px 0;
  }
  footer .footer-links {
    font-size: 18px;
  }
  footer .copyright {
    font-size: 16px;
  }
}

.footer-links li {
  padding-bottom: 15px;
}

/* --- Post preview --- */

.post-preview {
  padding: 20px 0;
  border-bottom: 1px solid #eee;
}

@media only screen and (min-width: 900px) {
  .post-preview {
    padding: 35px 0;
  }
}

.post-preview:last-child {
  border-bottom: 0;
}

.post-preview a {
  text-decoration: none;
  color: #404040;
}

.post-preview a:focus,
.post-preview a:hover {
  text-decoration: none;
  color: {{ site.hover-col }};
}

.post-preview .post-title {
  font-size: 40px;
  margin-top: 0;
}

.post-preview .post-subtitle {
  margin: -10px 0 5px 0;
  font-weight: 300;
  font-size: 24px;
}

.post-preview .post-meta {
  color: #808080;
  font-size: 18px;
  font-style: normal;
  font-weight: 200;
  margin: 2px 0 5px 0;
}

.post-subheading .post-meta {
  color: #808080;
  font-size: 18px;
  font-style: normal;
  margin: 10px 0 5px 0;
}

.post-meta {
  font-family: 'Playfair Display', 'Times New Roman', serif;
  color: #808080;
  font-size: 18px;
  font-style: normal;
}

.post-preview {
  font-family: 'Playfair Display', 'Times New Roman', serif;
}

.blog-post {
  font-family: 'Playfair Display', 'Times New Roman', serif;
}

.post-entry-container {
  display: inline-block;
  width: 100%;
  line-height: 1.5;
  padding-top: 10px;
  font-family: 'Playfair Display', 'Times New Roman', serif;
}

.post-entry {
  width: 100%;
  font-family: 'Playfair Display', 'Times New Roman', serif;
}

.post-image {
  display: none;
  float: right;
  height: 132px;
  width: 132px;
  margin-top: 0px;
  filter: grayscale(75%);
}

.post-image:hover {
  filter: grayscale(0%);
}

.post-image img {
  border-radius: 100px;
  height: 132px;
  width: 132px;
}

.post-preview .post-read-more {
  font-weight: 700;
}

.post-read-more a:hover {
  text-decoration: underline;
}

@media only screen and (min-width: 900px) {
  .post-preview .post-title {
    font-size: 36px;
  }
}

/* --- Tags --- */

.blog-tags {
  font-family: 'Playfair Display', 'Times New Roman', serif;
  color: #777;
  font-size: 15px;
  margin-bottom: 20px;
}

.blog-tags a {
  color: #999;
  text-decoration: none;
  padding: 0px 5px;
}

.blog-tags a:hover {
  color: #444;
  -webkit-transition: color .5s ease-in-out;
  -moz-transition: color .5s ease-in-out;
  transition: color .5s ease-in-out;
}

.post-preview .blog-tags {
  margin-top: 5px;
  margin-bottom: 0;
}

@media only screen and (min-width: 900px) {
  .post-preview .blog-tags {
    margin-top: 10px;
  }
}

@media only screen and (max-width: 500px) {
  .post-image, .post-image img {
    height: 100px;
    width: 100px;
  }

  .post-image {
    width: 100%;
    text-align: center;
    margin-top: 0;
    float: left;
  }
}

/* --- Post and page headers --- */

.intro-header {
  margin: 80px 0 20px;
  position: relative;
}

.intro-header.big-img {
  background: no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  margin-top: 51px; /* The small navbar is 50px tall + 1px border */
  margin-bottom: 35px;
}

.intro-header.big-img .big-img-transition {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  -webkit-transition: opacity 1s linear;
  -moz-transition: opacity 1s linear;
  transition: opacity 1s linear;
}

.intro-header .page-heading {
  text-align: center;
}

.intro-header.big-img .page-heading,
.intro-header.big-img .post-heading {
  padding: 100px 0;
  color: #FFF;
  text-shadow: 1px 1px 3px #000;
}

.intro-header .page-heading h1 {
  margin-top: 15px;
  font-size: 32px;
}

.intro-header .post-heading h1 {
  margin-top: 15px;
  font-size: 36px;
}

.intro-header .page-heading .page-subheading,
.intro-header .post-heading .post-subheading {
  font-size: 24px;
  line-height: 1.1;
  display: block;
  font-family: 'Playfair Display', 'Times New Roman', serif;
  font-weight: 400;
  font-style: italic;
  margin: -5px 0 5px 0;
}

.intro-header .post-heading {
  margin-bottom: 0px;
}

.intro-header.big-img .page-heading .page-subheading,
.intro-header.big-img .post-heading .post-subheading {
  font-weight: 300;
}

.intro-header.big-img .page-heading hr {
  box-shadow: 1px 1px 3px #000;
  -webkit-box-shadow: 1px 1px 3px #000;
  -moz-box-shadow: 1px 1px 3px #000;
}

.intro-header.big-img .post-heading .post-meta {
  color: #EEE;
}

.intro-header.big-img .img-desc {
  background: rgba(30, 30, 30, 0.6);
  position: absolute;
  padding: 5px 10px;
  font-size: 11px;
  color: #EEE;
  font-family: 'Playfair Display', 'Times New Roman', serif;
  right: 0;
  bottom: 0;
  display: none;
}

@media only screen and (min-width: 900px) {
  .intro-header {
    margin-top: 130px;
  }
  .intro-header.big-img {
    margin-top: 91px; /* Full navbar is small navbar + 20px padding on each side when expanded */
  }
  .intro-header.big-img .page-heading,
  .intro-header.big-img .post-heading {
    padding: 150px 0;
  }
  .intro-header .page-heading h1 {
    font-size: 70px;
  }
  .intro-header .post-heading h1 {
    font-size: 50px;
  }
  .intro-header.big-img .img-desc {
    font-size: 14px;
  }
}

.header-section.has-img .no-img {
  margin-top: 0;
  background-color: #FCFCFC;
  margin: 0 0 40px;
  padding: 20px 0;
  box-shadow: 0 0 5px #AAA;
}

.header-section.has-img .intro-header.no-img {
  display: none;
}

@media only screen and (max-width: 365px) {
  .header-section.has-img .intro-header.no-img {
    display: block;
  }
  .intro-header.big-img {
    width: 100%;
    height: 220px;
  }
  .intro-header.big-img .page-heading,
  .intro-header.big-img .post-heading {
    display: none;
  }
  .header-section.has-img .big-img {
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 325px) {
  .intro-header.big-img {
    height: 200px;
  }
}

.caption {
  text-align: center;
  font-size: 14px;
  padding: 10px;
  font-style: italic;
  margin: 0;
  display: block;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

#header-gh-btns {
  margin-bottom: 15px;
}

@media only screen and (max-width: 500px) {
  #header-gh-btns > iframe {
    display: block;
    margin-bottom: 5px;
  }
}

/* --- Pager --- */

.pager li a {
  font-family: 'Playfair Display', 'Times New Roman', serif;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 1px;
  padding: 20px 5px;
  margin: 50px 0 20px 0;
  background-color: #FFF;
  border-radius: 0;
  color: #404040;
}

@media only screen and (min-width: 900px) {
  .pager li a {
    padding: 15px 25px;
  }
}

.pager li a:hover,
.pager li a:focus {
  color: #404040;
  border: 1px solid #808080;
  background-color: #FFF;
  transition: 0.5s ease;
}

.pager {
  margin: 10px 0 30px 0;
}

.pager.blog-pager {
  margin-top: 0;
}

@media only screen and (min-width: 900px) {
  .pager.blog-pager {
    margin-top: 10px;
  }
}

/* --- Tables --- */

table {
  padding: 0;
}

table tr {
  border-top: 1px solid #cccccc;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

table tr:nth-child(2n) {
  background-color: #f8f8f8;
}

table tr th {
  font-weight: bold;
  border: 1px solid #cccccc;
  text-align: left;
  margin: 0;
  padding: 6px 13px;
}

table tr td {
  border: 1px solid #cccccc;
  text-align: left;
  margin: 0;
  padding: 6px 13px;
}

table tr th :first-child,
table tr td :first-child {
  margin-top: 0;
}

table tr th :last-child,
table tr td :last-child {
  margin-bottom: 0;
}

/* --- Code blocks --- */

pre {
  font-size: 16px;
  line-height: 1.5em;
}

.highlighter-rouge {
  color: #000;
  background: transparent;
}

.highlight pre {
  border: none;
  background: none;
  margin: 0;
}

.highlight > pre {
  background-image: linear-gradient(
    rgba(0,0,0,0.06), rgba(0,0,0,0.06) 1.5em, rgba(0,0,0,0.03) 1.5em, rgba(0,0,0,0.03) 3em);
  background-size: auto 3em;
  background-position-y: 10px;
  border: 1px solid rgba(0,0,0,0.1);
  border-left: 7px solid #444;
}

.highlight > pre:not([class~="highlight"]) { /* code block with line number */
  padding: 0;
}

.highlight table, .highlight tr, .highlight td { /* to be removed after fixing table styles */
  border: none;
  background: none;
  padding: 0;
  margin: 0;
}

.highlight pre.lineno {
  color: rgba(0,0,0,0.3);
  border-radius: 0;
  border-right: 2px solid #444;
}

/* Make line numbers unselectable: excludes line numbers from copy-paste user ops */
.lineno {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.lineno::selection, .lineno::-moz-selection {
  background: none;
}

/* --- Sharing --- */

#social-share-section {
  margin-bottom: 30px;
}

#social-share-section svg {
  top: 5px;
}

/* --- Notification boxes --- */

.box-updated, .box-note, .box-warning, .box-error, .box-success, .box-blue, .box-toc-act, .box-toc-pub {
  padding: 15px 15px 15px 10px;
  margin: 20px 20px 25px 0px;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 5px 3px 3px 5px;
}

.box-updated {
  background-color: #f5eef9;
  border-left-color: #910cbd;
  font-style: normal;
}

.box-updated a {
  color: #555;
  text-decoration: none;
}

.box-updated a:hover {
  text-decoration: none;
  color: #555;
}

.box-note {
  background-color: #eee;
  border-left-color: #2980b9;
}

.box-note a {
  color: #555;
  text-decoration: none;
  font-weight: 600;
}

.box-note a:hover {
  text-decoration: none;
  color: #555;
}

.box-warning {
  background-color: #fdf5d4;
  border-left-color: #f1c40f;
}

.box-warning a {
  color: #555;
  text-decoration: none;
}

.box-warning a:hover {
  text-decoration: none;
  color: #555;
}

.box-toc-act {
  background-color: #fdf5d4;
  border-left-color: #f1c40f;
  color: #ac8d10;
  font-weight: 600;
}

.box-toc-act a {
  color: #ac8d10;
  font-weight: 600;
}

.box-toc-act a:hover, .box-toc-act a:focus {
  color: #ac8d10;
  text-decoration: underline;
  -webkit-transition: color .2s ease-in-out;
  -moz-transition: color .2s ease-in-out;
  transition: color .2s ease-in-out;
}

.box-toc-act ol li::marker {
  color: #d2ad15;
  line-height: 1.6em;
}

.box-toc-pub {
  background-color: #d4f0ff;
  border-left-color: #5ab4e5;
}

.box-toc-pub a {
  color: #4c99c4;
  font-weight: 600;
}

.box-toc-pub a:hover, .box-toc-pub a:focus {
  color: #4c99c4;
  text-decoration: underline;
  -webkit-transition: color .2s ease-in-out;
  -moz-transition: color .2s ease-in-out;
  transition: color .2s ease-in-out;
}

.box-toc-pub ol li::marker {
  color: #5ab4e5;
  line-height: 1.6em;
  padding-left: 5px;
}

.error-icon {
  color:#c0392b;
  text-align:center;
  padding-top: 15px;
  padding-bottom: 10px;
}

.box-error {
  background-color: #f4dddb;
  border-left-color: #c0392b;
}

.box-error a {
  color: #555;
  text-decoration: none;
}

.box-error a:hover {
  text-decoration: none;
  color: #555;
}

.box-success {
  background-color: #dcfadc;
  border-left-color: #4d944d;
}

.box-success a {
  color: #555;
  text-decoration: none;
}

.box-success a:hover {
  text-decoration: none;
  color: #555;
}

.box-blue {
  background-color: #d4f0ff;
  border-left-color: #5ab4e5;
}

/*.box-blue a {
  color: #555;
  text-decoration: none;
  background-position-y: -0%;
  background-image: linear-gradient( #d4f0ff 50%, #5ab4e5 50%);
  transition: background 500ms ease;
  background-size: 2px;
  background-size: auto 175%;
}

.box-blue a:hover {
  background-position-y: 100%;
  text-decoration: none;
  color: #555;
}*/

.box-blue a {
  color: #555;
  text-decoration: none;
}

.box-blue a:hover {
  text-decoration: none;
  color: #555;
}

/* Fix table border github gist snippets */
.gist, .gist-file table tr {
  border: unset;
}

.gist, .gist-file table tr td {
  border: unset;
}

/* Fix .navbar-toggle */
.navbar-default button.navbar-toggle:focus,
.navbar-default button.navbar-toggle:hover {
  background-color: initial;
}

.navbar-default button.navbar-toggle[aria-expanded="true"] {
  background-color: rgba(0, 0, 0, 0.2);
}

/* Tags page */

.tag-btn {
  margin: 5px;
}

#full-tags-list {
  font-family: 'Playfair Display', 'Times New Roman', serif;
}

#full-tags-list .tag-entry {
  margin: 0 0 15px 25px;
}

#full-tags-list .tag-entry a {
  font-size: 22px;
  color: #404040;
}

#full-tags-list .tag-entry .entry-date {
  color: #808080;
  font-style: italic;
  font-size: 16px;
}

/* Font Awesome tweaks */ 

.fa-fade {
  opacity: 1;
  animation: fa-fade 1.5s infinite;
}

@keyframes fa-fade {
0% { opacity: 0.3 }
100% { opacity: 1 }
}

.fa-beat {
  animation:fa-beat 5s ease infinite;
}

@keyframes fa-beat {
  0% {
    transform:scale(1);
  }
  5% {
    transform:scale(1.25);
  }
  20% {
    transform:scale(1);
  }
  30% {
    transform:scale(1);
  }
  35% {
    transform:scale(1.25);
  }
  50% {
    transform:scale(1);
  }
  55% {
    transform:scale(1.25);
  }
  70% {
    transform:scale(1);
  }
}

.fa-github, .fa-fort-awesome, .fa-code-branch, .fa-heart, .fa-unsplash, .fa-cubes, .fa-seedling {
  padding: 0 0 20px 20px;
}

.fa-external-link-alt, .fa-file-pdf, .fa-youtube, .fa-file-image, .fa-lock-open {padding-left: 5px;}

.fab {font-weight: 300;}

.fa.fa-font.fa-stack-1x.fa-inverse {transition: 0.5s;}
.fa.fa-font.fa-stack-1x.fa-inverse:hover {color: #f1c40e;}

.fas.fa-rss.fa-stack-1x.fa-inverse {transition: 0.5s;}
.fas.fa-rss.fa-stack-1x.fa-inverse:hover {color: #f7a000;}

.fab.fa-researchgate.fa-stack-1x.fa-inverse {transition: 0.5s;}
.fab.fa-researchgate.fa-stack-1x.fa-inverse:hover {color: #00ccbb;}

.fab.fa-orcid.fa-stack-1x.fa-inverse {transition: 0.5s;}
.fab.fa-orcid.fa-stack-1x.fa-inverse:hover {color: #a1c837;}

.fab.fa-mastodon.fa-stack-1x.fa-inverse {transition: 0.5s;}
.fab.fa-mastodon.fa-stack-1x.fa-inverse:hover {color: #2b90d9;}

.fab.fa-instagram.fa-stack-1x.fa-inverse {transition: 0.5s;}
.fab.fa-instagram.fa-stack-1x.fa-inverse:hover {color: #bb00af;}

.fab.fa-soundcloud.fa-stack-1x.fa-inverse {transition: 0.5s;}
.fab.fa-soundcloud.fa-stack-1x.fa-inverse:hover {color: #ef7010;}