{%- for link in include.links -%}
  {%- assign external_link = false -%}
  {%- if link.url contains '://' -%}{%- assign external_link = true -%}{%- endif -%}
  <a class="publication-entry-link publication-entry-link--{{ link.access }}" href="{{ link.url | relative_url }}"{% if external_link %} rel="noopener noreferrer"{% endif %}>
    {%- if link.format == 'pdf' -%}<i class="fa-solid fa-file-pdf" aria-hidden="true"></i>
    {%- else -%}
      {%- case link.access -%}
        {%- when 'open' -%}<i class="fa-solid fa-lock-open" aria-hidden="true"></i>
        {%- when 'publisher' -%}<i class="fa-solid fa-building" aria-hidden="true"></i>
        {%- when 'print' -%}<i class="fa-solid fa-book" aria-hidden="true"></i>
        {%- when 'file' -%}<i class="fa-solid fa-file-pdf" aria-hidden="true"></i>
        {%- when 'web' -%}<i class="fa-solid fa-globe" aria-hidden="true"></i>
      {%- endcase -%}
    {%- endif -%}
    <span>{{ link.label }}</span>
    {%- if external_link -%}<i class="fa-solid fa-up-right-from-square publication-entry-link-external" aria-hidden="true"></i>{%- endif -%}
  </a>
{%- endfor -%}
