{% if layout.common-ext-js %}
  {% for js in layout.common-ext-js %}
    {% include ext-js.html js=js %}
  {% endfor %}
{% endif %}

{% if layout.common-js %}
  {% for js in layout.common-js %}
    {% if js contains 'jquery' %}
      <script>
      	if (typeof jQuery == 'undefined') {
          document.write('<script src="{{ js | relative_url }}"></scr' + 'ipt>');
      	}
      </script>
    {% else %}
      <script src="{{ js | relative_url }}"></script>
    {% endif %}
  {% endfor %}
{% endif %}

{% if page.ext-js %}
  {% for js in page.ext-js %}
    {% include ext-js.html js=js %}
  {% endfor %}
{% endif %}

{% if page.js %}
  {% for js in page.js %}
    <script src="{{ js | relative_url }}"></script>
  {% endfor %}
{% endif %}
<script>
  window.onload = function() {
    setTimeout(function() {
      // preload image
      new Image().src = "{{ '/img/cat/pro.webp' | relative_url }}";
      new Image().src = "{{ '/img/cat/pub.webp' | relative_url }}";
      new Image().src = "{{ '/img/cat/act.webp' | relative_url }}";
      new Image().src = "{{ '/img/cat/jou.webp' | relative_url }}";
      new Image().src = "{{ '/img/cat/con.webp' | relative_url }}";
      new Image().src = "{{ '/img/cat/tag.webp' | relative_url }}";
      new Image().src = "{{ '/img/cat/404.webp' | relative_url }}";
    }, 1000);
  };
</script>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    const buttons = document.querySelectorAll('.copy-btn');

    buttons.forEach(button => {
      button.addEventListener('click', function () {
        const icon = this.querySelector('i');
        const originalClass = 'fa-copy';
        const successClass = 'fa-check';

        const textToCopy = this.getAttribute('data-code');
        if (!textToCopy) return;

        navigator.clipboard.writeText(textToCopy).then(() => {
          if (icon) {
            icon.classList.remove(originalClass);
            icon.classList.add(successClass);
            icon.classList.add('copied');
          }

          setTimeout(() => {
            if (icon) {
              icon.classList.remove(successClass);
              icon.classList.add(originalClass);
              icon.classList.remove('copied');
            }
          }, 1200);
        }).catch(err => {
          console.error('Copy failed', err);
        });
      });
    });
  });
</script>
