<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, viewport-fit=cover">

  <title>{% if page.use-site-title %}{{ site.title }} {{ site.title-separator }} {{ site.description }}{% elsif page.title %}{{ page.title }} | Steffen Wöll{% else %}{{ site.title }}{% endif %}</title>

  {% if page.subtitle %}
  <meta name="description" content="{{ page.subtitle }}">
  {% endif %}

  <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-touch-icon.png?v=2">
  <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png?v=2">
  <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png?v=2">
  <link rel="manifest" href="/img/favicon/site.webmanifest?v=2">
  <link rel="mask-icon" href="/img/favicon/safari-pinned-tab.svg?v=2" color="#5bbad5">
  <link rel="shortcut icon" href="/img/favicon/favicon.ico?v=2">

  <link rel="alternate" type="application/rss+xml" href="{{ '/feed.xml' | absolute_url }}">

  {% if layout.common-ext-css %}
    {% for css in layout.common-ext-css %}
      {% include ext-css.html css=css %}
    {% endfor %}
  {% endif %}

  {% if layout.common-css %}
    {% for css in layout.common-css %}
      <link rel="stylesheet" href="{{ css | relative_url }}">
    {% endfor %}
  {% endif %}

  {% if page.ext-css %}
    {% for css in page.ext-css %}
      {% include ext-css.html css=css %}
    {% endfor %}
  {% endif %}

  {% if page.css %}
    {% for css in page.css %}
      <link rel="stylesheet" href="{{ css | relative_url }}">
    {% endfor %}
  {% endif %}
<script>
  window.onload = function() {
    setTimeout(function() {
      // preload image
      new Image().src = "{{ '/img/cat/pro.webp' | relative_url }}";
      new Image().src = "{{ '/img/cat/pub.webp' | relative_url }}";
      new Image().src = "{{ '/img/cat/act.webp' | relative_url }}";
      new Image().src = "{{ '/img/cat/jou.webp' | relative_url }}";
      new Image().src = "{{ '/img/cat/con.webp' | relative_url }}";
      new Image().src = "{{ '/img/cat/tag.webp' | relative_url }}";
      new Image().src = "{{ '/img/cat/404.webp' | relative_url }}";
    }, 1000);
  };
</script>
</head>
