---
layout: base
---

{% include header.html type="page" %}

<script src="/js/back-to-top.js"></script>
<script>addBackToTop({
  diameter: 56,
  scrollDuration: 200,
  backgroundColor: '#f5f5f5',
  textColor: '#555'
})</script>

<div class="container" role="main">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      {{ content }}
	    {% if page.comments %}
        <div class="disqus-comments">
	        {% include disqus.html %}
        </div>
	        {% include fb-comment.html %}
        <div class="staticman-comments">
          {% include staticman-comments.html %}
        </div>
        <div class="justcomments-comments">
          {% include just_comments.html %}
        </div>
	    {% endif %}
    </div>
  </div>
</div>
